.hero-unit
  form.offset4#login
    h4 Name:
    input#name(type="text")
    h4 Room:
    input#room(type="text") 
    br
    input.btn(type="submit")

  #chatty(style="display:none")
    #users.row
    hr
    .row
      form#inputbox
        input.input-xlarge#message(type="text",placeholder="Message")
        input.btn.btn-success.btn-inline(type="submit") Say
      #chatbox
