doctype5
html
  head
    include head
    :coffeescript
      $ ()->
        chatty.bind("#inputbox","#chatbox","#message","#users")

        $("#login").submit (event)->
          event.preventDefault()
          login($("#name").val(),$("#room").val())

      login = (name,room)->
        chatty.join(name,room)
        $("#login").hide()
        $("#chatty").show()

    title Chatty - chat room example

  .container!= body
