form#login
  h4 Name:
  input#name(type="text")
  h4 Room:
  input#room(type="text")
  input(type="submit")
#chatty
  ul#users
  form#inputbox
    input#message(type="text")
    input(type="submit")
  #chatbox

