doctype5
html
  head
    title Chatty - chat room example

    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery.min.js")
    script(src="/javascripts/chatty.js")
    script 
      $(function(){
        Chatty("#inputbox","#chatbox","#message","#users");
      });
  #container!= body
